<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>276945936302-vsb2cpe8gagqu3nh79idvuehg1cqqea2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.276945936302-vsb2cpe8gagqu3nh79idvuehg1cqqea2</string>
	<key>API_KEY</key>
	<string>AIzaSyCa69d-C8Z1HNO4DPl-DM3xq2p86SeAzXI</string>
	<key>GCM_SENDER_ID</key>
	<string>276945936302</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.ndevelop.Sueta</string>
	<key>PROJECT_ID</key>
	<string>suetaflutter-a4892</string>
	<key>STORAGE_BUCKET</key>
	<string>suetaflutter-a4892.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:276945936302:ios:9feb118f4078970277b23f</string>
	<key>DATABASE_URL</key>
	<string>https://suetaflutter-a4892-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>